body::before{
    display: block;
    content: '';
    height: -10px;
}
.black{
    background-color: black;
}
.gray{
    background-color: #181818;
}
.navcolor{
    background-color: #181818;
}
.card{
    color: white;
    background-color:  rgb(18 17 17);
}
.card-body{
    padding: 1rem;
    height: 10rem;
}
.footer{
    background-color:rgb(18 17 17);
}
.card-img-top{
    height: 27em;
    width: 17em;
}
@media(max-width:544px) {
  .navbar .navbar-nav>.nav-item {
      float: none;
      margin-left: .1rem;
  }
  .navbar .navbar-nav {
      float:none !important;
  }
  .navbar .collapse.in, .navbar .collapsing  {
      clear:both;
  }
}
.body{
  margin: 0;
  padding: 0;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
.carouselquotes{
  
  color: rgb(255, 255, 255);
  text-shadow:
      1px 1px 0 rgb(0, 0, 0),
      1px 1px 0 rgb(0, 0, 0),
      1px 1px 0 rgb(0, 0, 0),
      1px 1px 0 rgb(0, 0, 0),
      1px 1px 0 rgb(0, 0, 0);
}
